<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <form class="form" action="/register" method="POST">
            <h2>Register</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <label for="password2">Repeat Password:</label>
            <input type="password" id="password2" name="password2" required><br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>

