<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Schedule</title>
    <link rel="stylesheet" href="/static/inside.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                ORTSOC Scheduler
            </a>
        </div>
        <div class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="{{ url_for('dashboard') }}">
				Dashboard
			</a>
			<a class="navbar-item" href="{{ url_for('submit') }}">
				Submit Schedule
			</a>
			<a class="navbar-item" href="{{ url_for('view_schedule') }}">
				View Schedule
			</a>
		</div>
	</div>
    </nav>

    <!-- Banner -->
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    ORTSOC Scheduler
                </h1>
                <h2 class="subtitle">
                    View Schedule
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">View Schedule</h1>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>In Time</th>
                        <th>Out Time</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Schedule Data -->
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
